
    <script src="/assets/main.js"></script>

    <%= render 'form', companypower: @companypower %>

     <div style="margin: 0px auto; width: 1033px; ">

           <h1 class="title_h1"><br />COMO VOTAR</h1>
           <p class="texto1">
           Bem-vindo(a) à plataforma de votação do Energy Future, hub virtual de inovação, que realiza a maior chamada de P&D e startups do setor elétrico brasileiro! <br />

           <br/><br/>Como uma iniciativa de inovação aberta, tem a missão de conectar soluções inovadoras às grandes empresas do setor de energia elétrica. São parceiras desta chamada AES Tietê, Enel, Energisa, Grupo Equatorial Energia, Light e Santo Antônio Energia.
          </p>

          <h1 class="title_h1"><br /><br />AS ETAPAS DE SELEÇÃO</h1>
          <p class="texto1">

          A seleção do Energy Future foi criada com o objetivo de gerar aos participantes melhorias e aprendizados constantes, assim como filtrar e qualificar os projetos que serão avaliados pelas concessionárias aqui, na plataforma.

          <br /><br />Na nossa jornada até aqui, mais de 3 mil pessoas se cadastraram no Portal do Energy Future. Entre candidatos e interessados, chegamos a cerca de 400 projetos válidos inscritos, sendo 100 startups.

          <br /><br />Com uma equipe de profissionais experientes e qualificados, as seguintes etapas de seleção foram concluídas: triagem administrativa, triagem técnica e triagem qualitativa, chegando aos 38 projetos, que você terá acesso aqui.

          <br /><br />A plataforma representa uma importante fase da votação, pois possibilita a você, concessionária (e seus representantes), o acesso direto aos projetos dos proponentes, sendo possível o voto com facilidade e praticidade.

          <br /><br />Você avaliará, cada uma das categorias, destacando aqueles que são mais atraentes às suas estratégias de inovação. 18 finalistas vão para a etapa final.

          <br /><br />Após o término da seleção, o banco de dados completo de projetos inscritos será disponibilizado às concessionárias participantes.
         </p>


<!--
          <div class="columns">
            <div class="column">
              <div class="card1">
                      <div class="card-content">
                        <p class="texto1">
                          A seleção do Energy Future foi criada com o objetivo de gerar aos participantes melhorias e aprendizados constantes, assim como filtrar e qualificar os projetos que serão avaliados pelas concessionárias aqui, na plataforma.

                          Na nossa jornada até aqui, mais de 3 mil pessoas se cadastraram no Portal do Energy Future. Entre candidatos e interessados, chegamos a cerca de 400 projetos válidos inscritos, sendo 100 startups. 

                          uma equipe de profissionais experientes e qualificados, as seguintes etapas de seleção foram concluídas: triagem administrativa, triagem técnica e triagem qualitativa, chegando aos 38 projetos, que você terá acesso aqui.                            
                        </p>
                        </div>
                 </div>
            </div>
            <div class="column">
              <div class="card2">
                <div class="card-content">
                    <p class="texto1">
                      A plataforma representa uma importante fase da votação, pois possibilita a você, concessionária (e seus representantes), o acesso direto aos projetos dos proponentes, sendo possível o voto com facilidade e praticidade. 

                      Você avaliará, cada uma das categorias, destacando aqueles que são mais atraentes às suas estratégias de inovação. 18 finalistas vão para a etapa final.

                      Após o término da seleção, o banco de dados completo de projetos inscritos será disponibilizado às concessionárias participantes.
                        
                        
                        </p>
                </div>
              </div>
            </div>
       </div>
-->
        <h1 class="title_h1"><br/>COMO AVALIAR OS PROJETOS</h1>
        
        <h1 class="title_h2"><br/>Perfis de votação:</h1>
          
          <p class="texto1">Cada concessionária poderá elencar de 01 a 06 representantes, sendo um único para concentrar o registro de todos os votos, ou um representante por categoria de área de interesse. Somente os representantes com perfis de votação podem registrar votos.</p><br/>
           
           
           
           
           
        
        <h1 class="title_h2"><br/>Perfis de leitura:</h1>
           <p class="texto1"></p>Cada concessionária poderá elencar até 10 perfis de leitura. Esses representantes terão acesso a todas as informações dos projetos registradas na plataforma, mas não poderão registrar votos. <br/>

         <h1 class="title_h2"><br/>Critérios de avaliação:</h1> 
          <p class="texto1">Nesta etapa, há três critérios definidos para avaliação dos projetos: </p><br />         
          <div class="margin-left">

                <h3 class="title_h3"><br /><br />1. AVALIAÇÂO DA OPORTUNIDADE:<br/></h3>
                <p class="texto1">
                 O objetivo é avaliar a capacidade do projeto de resolver um problema real do setor, bem como a relevância e a magnitude desse problema. No caso de projetos de cunho científico, a análise do projeto o preenchimento da proposta de uma lacuna relevante e o avanço no estado da arte.
                 <br /><br />Assim, pretende-se avaliar as respostas às seguintes perguntas: há clareza no problema exposto? O problema é relevante? Qual é o valor gerado ao cliente, caso o problema seja resolvido? Quantos clientes devem ser impactados? Qual é o tamanho do mercado para a solução proposta?
               </p>
                
               

                
                <h3 class="title_h3"><br /><br />2. AVALIAÇÂO DA SOLUÇÃO:<br/></h3>
                
                 <p class="texto1">O objetivo é avaliar a viabilidade técnica e econômica, assim como a razoabilidade de execução do projeto quanto ao escopo, prazo e custo. A análise de projetos de P&D leva em consideração a coerência do método proposto em suas soluções para os desafios tecnológicos e científicos.

                                   <br /><br />O que se pretende, portanto, responder é: a solução proposta endereça, de forma eficaz, o problema apresentado? Essa solução é (ou pode se tornar) viável tecnicamente e economicamente? As barreiras e desafios tecnológicos e/ou científicos podem ser vencidos com a solução apresentada? Prazo, custo e escopo do projeto são coerentes e razoáveis?</p>

                 <h3 class="title_h3"><br /><br />3. AVALIAÇÂO DA EXECUTORA:<br/></h3>
                 <p class="texto1">
                O objetivo é avaliar a capacidade da executora em entregar a solução proposta, de acordo com os fins pretendidos e a qualidade esperada.

                <br /><br />Neste sentido, as perguntas direcionadas à avaliação são: a executora possui competência técnica e gerencial para executar bem o projeto? A equipe envolvida possui a capacitação necessária para a execução do escopo proposto? A executora possui experiência prévia na execução de projetos que comprovem sua capacidade?</p>
                <h3 class="title_h3"><br /><br />O CÁLCULO:<br/></h3>
                 <p class="texto1">

                 Cada um desses critérios deve ser votado em uma escala de 1 a 5. No entanto, cada  critério possui um peso diferente, sendo 5 para Solução, 3 para Oportunidade e 2 para Executora. Assim, fique atento(a), pois a nota do projeto será a média entre os três critérios de pesos diferentes.

                 <br /><br />Veja a fórmula: [(Nota de 1 a 5 Solução x 5) + (Nota de 1 a 5 Oportunidade x 3) + (Nota de 1 a 5 Executora x 2)] / 10.

                 <br /><br />Com o fim da votação, os projetos serão ranqueados a partir de uma média simples do somatório da nota final de cada Concessionária. Os 18 mais bem pontuados serão os finalistas da chamada do Energy Future.

                 <br /><br />Para evitar que uma avaliação influencie a outra, somente é possível visualizar as notas da sua empresa. Além disso, somente o avaliador(a) pode excluir sua própria nota a um projeto. A restrição garante a segurança de que as notas não serão  alteradas.

                 </p>
                 </div>
                 <h1 class="title_h2"><br /><br />Prazo votação:<br/></h1>
                 <p class="texto1">Para não prejudicar o cronograma da chamada,  os projetos devem ser avaliados por todos os votantes, impreterivelmente, até 29 de maio de 2020.  </p>
                 
                 <h1 class="title_h2"><br /><br />SUPORTE<br/></h1>
                 <p class="texto1"> Para comodidade e facilidade do trabalho das equipes de inovação, o Energy Future disponibiliza suporte direcionado às necessidades relacionadas à plataforma. </p>                 
                 <p class="texto1">Dúvidas sobre uso da ferramenta, edição de votos e consulta aos projetos, mande um e-mail para suporte@energyfuture.com.br. O prazo de resposta é de no máximo 24h.</p> 
                
                <h1 class="title_h2"><br /><br />COMENTÁRIOS DO(A) AVALIADOR(A)<br /></h1>
                 <p class="texto1">Nesse campo, você pode escrever as impressões e análises sobre o projeto. Tudo que considerar fundamental para sua avaliação, justificando as notas dadas para cada um dos critérios.</p>

                <h1 class="title_h2"><br /><br />DESTACAR PROJETO<br /></h1>
                 <p class="texto1">Ao avaliar um projeto, na parte superior direita da tela, você verá um campo com uma estrela. Clicando na estrela, é possível destacar um projeto. Você deve destacar os projetos que considerar mais relevantes para sua estratégia de inovação.</p>
            
            

    <br /><br />

     </div>
      
